<div class="col-md-6 offset-md-3">
    <h3>Modifier Stage</h3>
    <form (ngSubmit)="onSubmit()" #stageForm="ngForm">

        <div class="form-group">
            <label>Sujet</label>
            <input type="text" class="form-control" id="sujet" [(ngModel)]="stage.sujet" name="sujet" required>
        </div>

        <div class="form-group">
            <label>Start Date</label>
            <input type="date" class="form-control" id="startDate" [(ngModel)]="stage.startDate" name="startDate" required>
        </div>

        <div class="form-group">
            <label>End Date</label>
            <input type="date" class="form-control" id="endDate" [(ngModel)]="stage.endDate" name="endDate" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="stage.description" name="description" required></textarea>
        </div>

        <div class="form-group">
            <label>Division</label>
            <input type="text" class="form-control" id="division" [(ngModel)]="stage.division" name="division" required>
        </div>

        <div class="form-group">
            <label>Type</label>
            <select class="form-select" aria-label="Default select example" id="type" [(ngModel)]="stage.type" name="type" required>
                <option value="Affecte">Affecte</option>
                <option value="NonAffecte">NonAffecte</option>
            </select>
            
        </div>

        <div class="form-group">
            <label>Status</label>
            <select class="form-select" aria-label="Default select example" id="status" [(ngModel)]="stage.status" name="status" required>
                <option value="EN_COURS">EN_COURS</option>
                <option value="EN_ARCHIVE">EN_ARCHIVE</option>
                <option value="TERMINE">TERMINE</option>
                <!-- Add more status options as needed -->
            </select>
        </div>

       


        

        <div class="mt-3">
            <button class="btn btn-success" type="submit" [disabled]="!stageForm.valid">Submit</button>
        </div>
    </form>
</div>
