<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand mt-2 logo" routerLink="/stagiaire/listStagesStagiaire" routerLinkActive="active">
        Gestion Stagiaires
    </a>
</nav>

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="../../assets/register.png" alt="" width="100px">
                </div>
                <h3 class="text-center">Login Here</h3>
                <form (ngSubmit)="formSubmit()"> 
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" [(ngModel)]="loginData.username" name="username" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" [(ngModel)]="loginData.password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="width: 120px;">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
