<h3>List Utilisateurs</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            
            <td>
                <button  class="btn btn-info">Update</button>
                <button *ngIf="user.id !== undefined"  class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button *ngIf="user.username !== undefined"  class="btn btn-info" style="margin-left: 10px;">View</button>
            </td>
        </tr>
    </tbody>
</table>
