<h3>List Utilisateurs</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Username</th>
            <th>Role</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.userType }}</td>

            <td>
                <button  class="btn btn-info" (click)="updateUser(user.userId)">Update</button>
                <button class="btn btn-danger" style="margin-left: 10px; " (click)="deleteUser(user.userId)" >Delete </button>
            </td>
        </tr>
    </tbody>
</table>
