<h3>Liste des Stagiaires</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Stage</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stagiaire of stagiaires">
            <td>{{ stagiaire.nom }}</td>
            <td>{{ stagiaire.prenom }}</td>
            <td>{{ stagiaire.email }}</td>
            <td>{{ stagiaire.sujetDemande }}</td> <!-- Assuming stage is a property in your Stagiaire model -->
            <td>
                <button class="btn btn-info" (click)="updateStagiaire(stagiaire.stagiaireId)">Update</button>
                <button *ngIf="stagiaire.stagiaireId !== undefined" class="btn btn-danger" style="margin-left: 10px;" (click)="deleteStagiaire(stagiaire.stagiaireId)"  >Delete</button>
                <button *ngIf="stagiaire.stagiaireId !== undefined" class="btn btn-info" style="margin-left: 10px;">View</button>
                <button *ngIf="stagiaire.stagiaireId !== undefined" class="btn btn-danger" style="margin-left: 10px;" (click)="markAbsence(stagiaire.stagiaireId)">Absence</button>

            </td>
        </tr>
    </tbody>
</table>
