/* You can add global styles to this file, and also import other style files */
@import url("~bootstrap/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
/* Add this CSS to your stylesheet */
@import url('https://fonts.googleapis.com/css?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
a.logo{
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-left: 20px;
}
a.logo:hover{
    color: rgb(2, 112, 255);
}
