<!-- Statistiques Component -->
<div class="row">
    <div class="col-12 col-lg-4 mb-4">
      <div class="card border-0 border-bottom border-primary shadow-sm">
        <div class="card-body text-center p-4 p-xxl-5">
          <h3 class="display-2 fw-bold mb-2">{{ numberOfEncadrants }}</h3>
          <p class="fs-5 mb-0 text-secondary">Professors</p>
        </div>
      </div>
    </div>
   
    
    <div class="col-12 col-lg-4 mb-4">
      <div class="card border-0 border-bottom border-primary shadow-sm">
        <div class="card-body text-center p-4 p-xxl-5">
          <h3 class="display-2 fw-bold mb-2">{{ numberOfStagiaires }}</h3>
          <p class="fs-5 mb-0 text-secondary">Interns</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
      <div class="card border-0 border-bottom border-primary shadow-sm">
        <div class="card-body text-center p-4 p-xxl-5">
          <h3 class="display-2 fw-bold mb-2">{{ numberOfStages }}</h3>
          <p class="fs-5 mb-0 text-secondary">Stages</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-lg-4 mb-4">
      <div class="card border-0 border-bottom border-primary shadow-sm">
        <div class="card-body text-center p-4 p-xxl-5">
          <h3 class="display-2 fw-bold mb-2">{{ numberOfAdminDrh }}</h3>
          <p class="fs-5 mb-0 text-secondary">Admindrh</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
      <div class="card border-0 border-bottom border-primary shadow-sm">
        <div class="card-body text-center p-4 p-xxl-5">
          <h3 class="display-2 fw-bold mb-2">{{ numberOfChefDrh }}</h3>
          <p class="fs-5 mb-0 text-secondary">ChefDrh</p>
        </div>
      </div>
    </div>
    <!-- Add more cards as needed -->
  </div>
  